$distances-s: 1rem;
$distances-m: 1.5rem;
$distances-l: 3rem;

$font-size-m: 1.25rem;
$font-size-xxl: 4.5rem;

$color-primary: white;
$color-secondary: black;

$z-index-s: 1;
$z-index-m: 2;
$z-index-l: 3;
